site_name: PyO3 Lab
site_description: Let's get rusty with pyo3!
site_url: https://pyo3lab.github.io/
docs_dir: docs

theme:
  language: en
  name: material
  favicon: _assets/pyo3lab.ico
  logo: _assets/pyo3lab.png
  palette:
    - scheme: default
      primary: green
      accent: light-green
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - scheme: slate
      media: "(prefers-color-scheme: dark)" 
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

plugins:
  - search
  - macros
  - i18n:
      languages:
        - locale: en
          name: English
          default: true
          build: true
        - locale: zh
          name: 中文
          build: true
          nav_translations:
            Home: 主页
            Projects: 项目
            Wishlist: 心愿单


copyright: Copyright © 2025 PyO3Lab
nav:
  - Home: index.md
  - Projects: projects.md
  - Wishlist: wishlist.md

watch:
  - projects.json
  - main.py
